.wrapper {
  margin: 0 auto;
 
  height: 50vh;
  width: 70vw;
}
/*.wrap {
  width: 80%;
  max-width: 24em;
  margin: 0 auto;
  padding: 0.25em 0.625em;
}*/
.column {
  float: left;
  width: 33%;
  
}
