<div class="wrapper">
  <div class="column" >
    <h2>Toppers</h2>
    <app-student-detail [studentsData]='getToppersRecord()'(MarksValueChnaged)="trapValueChanged($event)"></app-student-detail>
  </div>
  <div class="column">
    <h2>Avarage</h2>
    <app-student-detail [studentsData]='getMediocoreRecord()'(MarksValueChnaged)="trapValueChanged($event)"></app-student-detail>
  </div>
  <div class="column">
    <h2>Rest Others</h2>
    <app-student-detail [studentsData]='getLowerRecord()' (MarksValueChnaged)="trapValueChanged($event)"></app-student-detail>
  </div>
</div>
  
